[modules]
[modules.preprocessor]
name = "com.scalar.db.benchmarks.ycsb.Loader"
path = "./build/libs/scalardb-benchmarks-all.jar"
[modules.processor]
# name = "com.scalar.db.benchmarks.ycsb.WorkloadF"
name = "com.scalar.db.benchmarks.ycsb.WorkloadFWithDeleteAndReinsert"
path = "./build/libs/scalardb-benchmarks-all.jar"
[modules.postprocessor]
name = "com.scalar.db.benchmarks.ycsb.YcsbReporter"
path = "./build/libs/scalardb-benchmarks-all.jar"

[common]
concurrency = 40
run_for_sec = 30
ramp_for_sec = 30

[stats]
realtime_report_enabled = true

[ycsb_config]
ops_per_tx = 1
record_count = 10000
load_concurrency = 128
#load_batch_size = 10
#load_overwrite = true
#use_read_modify_write = true

[database_config]
#config_file = "<PATH_TO_SCALARDB_PROPERTIES_FILE>"
config_file = "/Users/mitsunorikomatsu/tmp/local-pg.properties"
#contact_points = "jdbc:mysql://localhost/"
#contact_port =
#username = "root"
#password = "mysql"
#storage = "jdbc"
#transaction_manager = "consensus-commit"
#isolation_level = "SERIALIZABLE"
#serializable_strategy = "EXTRA_READ"
